.job-card {
  background-color: #fff;
  border-radius: 7px;
  padding: 2rem;
  padding-top: 4rem;
  min-width: 300px;
  position: relative;
  flex: 1 1;
  margin: 1rem;
  margin-bottom: 3rem;
}
.job-card .separator-dot {
  font-size: 2rem;
  margin: 0 5px;
}
