.header {
  background-image: url("../../assets/desktop/bg-pattern-header.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4rem;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .app-logo {
  background-image: url("../../assets/desktop/logo.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40px;
  width: 9rem;
}
